
{% extends 'all_images/base.html' %}
{% block content %}



<!-- <div class="container"> -->

  <!-- Looping through image   -->
  {% for pic in images %}

  <div class="row">
       
    <!-- displaying images -->
   
     <!--Display news Article images  -->
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <img class="img-responsive" style='width:300px; height:250px' src="{{pic.image.url}}" alt="image">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <p> Category :{{pic.category}}</p>
            <p>Location:{{pic.location}} </p>
            <p>{{pic.image_description}}</p>
           
        </div>
    </div>

  </div>

  
  
     {% endfor %}
  
 

<!-- </div> -->

{% endblock %}