
{% extends 'all_images/base.html' %}
{% block content %}



<!-- <div class="container"> -->

  <!-- Looping through image   -->
  {% for pic in images %}

  <div class="row">
       
    <!-- displaying images -->
   
     <!--Display news Article images  -->
     <!-- <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <img class="img-responsive" style='width:300px; height:250px' src="{{pic.image.url}}" alt="image">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <p> Category :{{pic.category}}</p>
            <p>Location:{{pic.location}} </p>
            <p>{{pic.image_description}}</p>
           
        </div>
    </div> -->
    <div class="col-md-3">
    <div class="thumbnail">
        <div class="view overlay">
    <a data-caption="  Category :{{pi.category}} <br> Location:{{pic.location}}  <br> {{pic.image_description}}   "
      href="{{pic.image.url}}" data-fancybox class="card-img-top" style='width:400px; height:600px'>
      <img class="img-responsive" style='width:300px; height:250px' src="{{pic.image.url}}" alt="image">

    </a>
    <button class="btn btn-default" style="text-align:center;" onclick="copyLink()" data-toggle="modal"
    data-target="#linkModal">copy image</button>
  <input type="text" value="127.0.0.1:8000/media/images/{{pic.image.url}}" id="linkedImage" hidden>
  <!-- Central Modal Medium Success -->
  <div class="modal fade" id="linkModal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-success" role="document">
      <!--Content-->
      <div class="modal-content">
        <!--Header-->
        <div class="modal-header">
          <p class="heading lead">Copy Link</p>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
        </div>

        <!--Body-->
        <div class="modal-body">
          <div class="text-center">
            <i class="fas fa-check fa-4x mb-3 animated rotateIn" data-delay="1s" style="color:rgb(88, 102, 94)"></i>
            <p class="text-muted">Link Successfully Copied</p>
          </div>
        </div>

        <!--Footer-->
        <div class="modal-footer justify-content-center">
          <a type="button" class="btn btn-primary" data-dismiss="modal">Close</a>
          <a href="{{pic.image.url}}" target="_blank" class="btn btn-primary">View Full Image</a>
        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>
  <!-- Central Modal Medium Success-->

</div>
<div>

</div>


</div>
</div>
{% endfor %}
</div>
</div>





{% endblock %}
