{%extends 'all_images/base.html'%}
{% block content %}
<div class="container">

  <div class="row">
    {% if categories %}
    <h2>Found {{ categories|length }} of searched term {{message}}</h2>
    {% else %}
    <h2> Found 0 images for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

    {% if thecat %}
    {% for category in thecat %}
    <div class="col-sm-6 col-md-3">
      <div class="card">
        <a data-caption="  Category :{{category.category}} <br> Location:{{category.location}}   " 
          href="{{category.image.url}}" data-fancybox class="card-img-top" style='width:300px; height:250px'>
          <img class="img-responsive" style='width:300px; height:250px' src="{{category.image.url}}" alt="image">

        </a>
      </div>
      <button class="btn btn-default" style="text-align:center;" onclick="copyLink()" data-toggle="modal"
        data-target="#linkModal">Copy image</button>
      <input type="text" value="127.0.0.1:8000/media/images/{{pic.image.url}}" id="linkedimage" hidden>
     
      <div class="modal fade" id="linkModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-notify modal-success" role="document">
         
          <div class="modal-content">
           
            <div class="modal-header">
              <p class="heading lead">Copy Link</p>

              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="white-text">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              <div class="text-center">
                <i class="fas fa-check fa-4x mb-3 animated rotateIn" style="color:rgb(157, 200, 0)"></i>
                <p class="text-muted">Link Successfully Copied</p>
              </div>
            </div>

            
             <div class="modal-footer justify-content-center">
             
              <a type="button" class="btn btn-success" data-dismiss="modal">Close</a>
              <a href="{{category.image.url}}" target="_blank" class="btn btn-success">View Full Image</a>
            </div>
          </div>
          <!--/.Content-->
        <div>
      </div> 
      <!-- Central Modal Medium Success-->


    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}
